section {
    background: url("./images/architecture-buildings-city-137611.jpg");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    resize: both;
    overflow: auto;
    text-align: center;
}

.hero {
    /* border-bottom: 50px;
    border-bottom-color: red;  */
    box-shadow: 0 0 30px rgb(77, 25, 25);

}