#btn-info {
    background-color: red;
    box-shadow:1px 1px 10px rgb(124, 121, 121);
    border-radius:3px;
    height:40px;
    margin-top:-2px;
    margin-right:20px;
    filter: blur(.3px);
}

#btn-info:hover {
    box-shadow: 1px 0px 5px rgb(124, 121, 121);
    color:white;
    filter:none;

}
.input {
    box-shadow: 1px 1px 1px rgb(124, 121, 121);
   
}
.tile.is-child.box {
    box-shadow: 1px 1px 10px rgb(124, 121, 121);
}
.tile.is-child.box:hover {
    box-shadow: 1px 1px 20px rgb(124, 121, 121);
}




