#btn-info {
    background-color:#F21D10;
}

.input {
    /* border: #F21D10; */
    box-shadow: 0 0 30px black;
    /* add a hover for the search */
}
#btn-info {
    box-shadow: 0 0 30px black;
}

.hero-body {
    margin-top: 70px;
}