 .login {
    padding:100px;
    font-family: Comfortaa, cursive;
    border-radius:9px;
    margin-top:100px;
    margin-bottom:175px;
    box-shadow: 1px 2px 4px 3px hsl(10, 14%, 83%);
    color:white;
    text-align: center;
    font-size:40px;
    position:flex;
    height:400px;
    margin-left:50px;
    margin-right:50px;
    

    

   
}

.notification {
  background: none !important; 
  width:250px;
  position: flex;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -120px;
}

.button.is-primary {
    background-color: hsl(10, 95%, 49%);



}

.button.is-primary:hover {
    background-color: hsl(10, 95%, 49%);
    box-shadow: 1px 2px 4px 3px hsl(10, 14%, 83%);
}

.button.is-light:hover{
    box-shadow: 1px 2px 4px 3px hsl(10, 14%, 83%);
  
}


.label {
    color:white;
    font-size:30px;
    float:auto;


}

.input{

}

#signinform {
    padding:0px;
    text-align:center;
    margin-top:-85px;
   
}

/* #email,  #password {
    padding:3px;
    font-size: 14px;
    border-radius: 3px;
    height: 25%;
    width: 130%; 
    flex-direction:column;
    vertical-align: middle;
    z-index: auto;
    margin:0 auto;
    color: rgb(54, 54, 54);  
    font-family: Comfortaa, cursive;
    text-align:center;
    margin-left:-30px;
}

#password {
    text-align:left;
} */


.loginbtn{
    border-radius:2px;
    border-color:red;
    box-shadow: 1px 1px 1px  hsl(10, 14%, 83%);
     
}





#video-background {
    /*  making the video fullscreen  */
      position: fixed;
      left:0;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      height: auto;
      z-index: -90;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      overflow:hidden;
      object-fit: cover;
      filter:blur(5px);
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 690px) 
  and (max-device-width: 892px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  
  .login {

    margin-left:-50px;
    margin-right:50px;
  }




}

    


  

