.speech-bubble {
	position: relative;
	background: #00aabb;
    border-radius: .4em;
    /* margin-bottom: 10px; */
    margin-top: 30px;
}

.speech-bubble::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.speech-bubble:nth-child(even) {
    position: relative;
	background: red;
    border-radius: .4em;
    margin-bottom: 10px;
}

.speech-bubble:nth-child(even)::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 37px solid transparent;
	border-right-color: red;
	border-left: 0;
	border-top: 0;
	margin-top: -18.5px;
	margin-left: -37px;
}

#container {
    margin-top: 50px;
}